.trade_bonuses {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    color: white;

    > h2 {
        font-weight: 600;
        font-size: 48px;
        padding-left: 60px;
        > b {
            color: rgba(0, 208, 148, 1);
        }
    }
        &_text {
            display: flex;
            column-gap: 20px;
            > span {
                font-weight: 400;
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
            }
            > img {
                width: 15px;
                height: 19px;
                margin-top: 13px;
            }
        }

        .swiper_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 30px;
        
        .swiper {
            overflow-x: hidden;
            width: 100%;
            

            // &_wrapper {
            //     width: 70%;
            //     margin: 0 auto;
            //     height: auto;
                 &_slide {
                    width: 800px !important;
                    height: 300px !important;
                    border-radius: 30px !important;
                    background: rgba(188, 204, 199, 1);
                }
               
        // }
        &_pagination {
            color: white;
            width: 70px;
            height: 47px;
            background: none;
            border: none;
        }
        }
    }
    }