.market {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: white;

    & h2 {
        padding-left: 40px;
        // font-family: 'Anek Telugu sans-serif';
        > b {
            color: #00D094FF;
        }
    }

.market_list {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    
    &_piece {
        text-align: center;
        text-transform: capitalize;
        width: 56%;
        margin: auto;

        & h3 {
            font-weight: 600;
            font-size: 38px;
            margin: 0;
        }
        & p {
            text-align: start;
            line-height: 30px;
            color: rgba(255, 255, 255, 1);
            font-size: 16px;
            margin-top: 20px;
        }
    }
}
}