.contact {
    &_title {
        background-color: rgba(0, 21, 15, 1);
            width: 100%;
            height: 259px;
            display: flex;
            align-items: center;
            justify-content: start;
            > p {
                padding-left: 8rem;
                font-weight: 600;
                font-size: 48px;
                color: rgba(255, 255, 255, 1);
            }      
    }
    &_container {
        background: white;
        padding: 6rem 8rem;
    }
}